.payment {
    background-color: #ffffff;
}

.payment__container>h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    border-bottom: 1px solid #d3d3d3;
    background-color: #eaeded
}

.payment__container>h1 a {
    text-decoration: none;
}

.payment__section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid #d3d3d3;
}

.payment__title {
    flex: 0.2;
}

.payment__address,
.payment__items {
    flex: 0.8;
}

.payment__details {
    flex: 0.8;
}

.payment__details>form {
    max-width: 400px;
}

.payment__details>form>div>p {
    padding-bottom: 20px;
}

.payment__stripe {
    width: 100%;
    display: flex;
}

.payment__details>form>div>button {
    background-color: #ffd814;
    border: 1px solid;
    border-color: #fcd200;
    color: #111111;
    width: 100%;
    padding: .5em;
    font-size: .9rem;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    border-radius: 100px;
    transition: ease-in .2s;
}

.payment__details>form>div>button:hover {
    background-color: #F7CA00;
}


@media only screen and (min-width: 320px) and (max-width: 768px) {
    .payment__section:first-of-type {
        display: flex;
        flex-direction: column;
    }

    .payment__stripe {
        width: 100%;
        flex-direction: column;
    }

    .payment__details {
        padding: 15px 0;
    }

    .payment__details>form {
        max-width: 100%;
    }

}